@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700');

:root {
    --font-heading: 'PT Sans', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.42857143;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
}

button {
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: inherit; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 700;
}
 /* COMMON */
.container {
    width: 1170px;
    margin: 0 auto;
 }

 /* top-page */
.top-page {
    display: flex;
    min-height: 496px;
    margin: 0 0 110px 0;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
     url(../img/bg-banner-2.jpg) no-repeat center / cover;
 }

.top-page .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
 }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    margin-top: 40px;

}

.header .logo {
    height: 34px;
}

.header .nav {
    display: flex;
}

.header .nav a {
    padding: 15px 25px;
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.user-action {
    display: flex;
}

.user-action .action-btn {
    padding: 14px;
    color: #fff;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: #fff;
}

.hero h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

.breadcrumd {
    display: flex;
}

.breadcrumd li {
    display: flex;
}

.breadcrumd li + li::before {
    content: "/";
    padding: 0 10px;
}

.breadcrumd a {
    text-decoration: none;
    color: #fff;
}

/* main */
.main {
    min-height: 1594px;
    margin-bottom: 100px;
}

.main-inner {
    display: flex;
    width: 1200px;
}

/* Begin.content */

.content {
    flex-grow: 3;
    width: 900px;
    padding: 15px;
}

.content .content-header {
    display: flex;
    max-width: 870px;
    max-height: 40px;
    margin: 0 0 60px;
    justify-content: center;
}

.content .content-header li {
    display: inline-block;
}
.content .content-header a {
    display: inline-block;
    min-width: 56px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-size: 15px;
    padding: 0 14px;
    margin: 0 9px 10px;  
    color: rgba(0,0,0,0.7);
    border-radius: 15px;
    white-space: nowrap;
    transition: all ease 0.5s;
}

.content .content-header li:first-child a {
    background: #783df0;
    color: #fff;
}

.content .content-header li:hover a {
    background: #783df0;
    color: #fff;
}
.content-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    min-height: 1418px;
}
.content-list .course-item {
    width: calc(33.33% - 30px);
    margin-left: 30px;
    background: #fff;
    border: #fff solid 1px;
}

.sigle-item {
}

.sigle-item .image > img {
    background-position: center;
    background-origin: content-box;
    width: 100%;
}

.sigle-item .text {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 15px 20px 15px 25px;
    margin-bottom: 30px;
}

.sigle-item .text h6 {
    font-weight: 700;
    font-size: 18px;
    color: #464646;
    line-height: 24px;
}

.sigle-item .text p {
    margin: 20px 0;
    font-size: 15px;
}

.sigle-item .text .clearfix {
    display: flex;

}

.sigle-item .text .clearfix .float-left {
    display: flex;
    align-items: center ;
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.6);
}

.sigle-item .text .clearfix .float-left i {
    margin-right: 8px;
    
}

.sigle-item .text .clearfix .float-left img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
}

.sigle-item .text .clearfix .float-right a.free {
    display: block;
    text-decoration: none;
    background: #783df0;
    width: 66px;
    height: 32px;
    border-radius: 30px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.sigle-item .text .clearfix li:nth-child(3) a:not(.free){
    display: block;
    text-decoration: none;
    background: rgb(184, 2, 87);
    width: 66px;
    height: 32px;
    border-radius: 30px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

/* Begin.course-pagination */

.content .course-pagination {
    display: flex;
    width: 870px;
    min-height: 74px;
}

.course-pagination li a {
    display: block;
    width: 29px;
    line-height: 27px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-right: 8px;
    text-decoration: none;
}

.course-pagination li:nth-child(1) a {
    border: #783df0 solid 1px;
    color: #783df0;
}

.course-pagination li:nth-child(4) a {
    width: 58px;
    font-size: 14px;
    text-transform: uppercase;
    background: #783df0;
    color: #fff;
    margin-left: 10px;
}

/* Begin.sidebar */

.sidebar {
    padding: 0 15px;
    width: 300px;
    flex-grow: 1;
}

.sidebar .course-sidebar-search {
    position: relative;
    width: 100%;
    height: 43px;
    margin-bottom: 30px;
}

.course-sidebar-search input {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    padding: 0 40px 0 20px;
    font-size: 15px;
}

.course-sidebar-search button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 37px;
    right: 0;
    text-align: left;
    border-radius: 0 20px 20px 0;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
}

.sidebar .course-sidebar-list {
    width: 100%;
}

.sidebar .course-sidebar-list h6 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sidebar .course-sidebar-list ul {
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.course-sidebar-list li {
}

.course-sidebar-list li a {
    text-decoration: none;
    display: block;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: inherit;
}

/* Begin. footer  */
.footer {
    min-height: 502px;
    background: #151515;
    padding: 80px 0 160px 0;
}

.footer li {
    height: 30px;
}

.footer h6 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 8px 0 25px 0;
}

.footer-left {
    width: 300px;
    min-height: 262px;
}

.footer-left .footer-logo p:nth-child(2) {
    margin: 20px 0;
}

.footer-left .footer-logo p {
    font-size: 14px;
    line-height: 22px;
}

.footer-left .footer-logo ul {
    width: 270px;
    min-height: 74px;
    display: flex ;
    gap: 25px;
}

.footer-left .footer-logo ul li {
    margin-top: 30px;
}

.footer-left .footer-logo ul li:nth-of-type(2) {
    margin-top: 33px;
}

.footer p, .footer ul li a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-list {
    width: 200px;
    height: 205px;
}

.footer-subscribe {
    width: 300px;
    height: 218px;
}

.footer-left, .footer-list, .footer-subscribe {
    padding: 0 15px;
}

.footer .footer-subscribe form {
    width: 270px;
    height: 115px;
}

.footer .footer-subscribe form input {
    width: 100%;
    height: 40px;
    background: #272727;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    margin: 25px 0 10px 0;
    color: rgba(255, 255, 255, 0.6);
}

.footer .footer-subscribe form button {
    width: 95px;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: #b80257;
}
.scroll-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    text-align: center;
    color: #fff;
    background: #b80257;
    font-size: 25px;
}

.scroll-top:focus {
    
}
/* End. footer  */